My_Send_Email/synology_pass.txt
My_Send_Email/gmail_pass.txt
My_Send_Email/__pycache__
Portfolio_calculator/FunderPass.txt
.idea
__pycache__
UC_parser_for_TestRails_TestCases/Vihik1.xlsx
UC_parser_for_TestRails_TestCases/Import tulemused.csv
Komfovent_Ventilation/password.txt