<!DOCTYPE html>
<div lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Portfolio result</title>

     <!-- favicon icon set -->
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

</head>
</div>
    <body>
       <!-- <div class="container"> Center of page -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

       <div class="container-fluid">  <!-- Fixes view, makes everything decent :) -->
          <!--to display result in row -->
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                         <!--portfolio results, need safe to display html or it will just display text-->
                          {% if portfolio_result %}

                         <legend class="border-bottom mb-4">Portfolio result</legend>
                            <div id="portfolio_result">
                                {% for x in  portfolio_result %}
                                {{ x |safe }}
                                <br>
                                {% endfor %}
                            </div>
                         {% endif %}
                            <br><br>

                        <div class="content-section">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <p><a href="{{ url_for('index') }}">Back to homepage</a></p>

                        </div>
                </div>


               <!--to display plot and 10 is how wide it is-->
                <div class="col-xs-6 col-sm-8">
                     <!--Months, need safe to display html or it will just display text-->
                      {% if chart_plot %}

                     <legend class="border-bottom mb-4">Chart</legend>
                        <div id="chart_plot">
                            {{ chart_plot|safe }}
                        </div>
                     {% endif %}
                        <br><br>
                </div>

            </div>
        </div>
    </body>
</html>