<!DOCTYPE html>

    <div lang="en">
        <head>
                <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <meta charset="UTF-8">
            <title>Real estate ROI calculator</title>

             <!-- favicon icon set -->
            <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
        </head>
    </div>

    <body>



                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock%}


                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}

        <div class="container-fluid">  <!-- Fixes view, makes everything decent :) -->
            <div class="row">

                    <!-- Can't really understand how it still works -->
                    <div class="col-xs-6 col-sm-2">
                        <div class="content-section">
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Real estate ROI calculator</legend>

                                    <!--choices-->
                                    <div class="form-group">
                                        {{ form.choices.label(class="form-control-label") }}

                                        {% if form.choices.errors %}
                                        {{ form.choices(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.choices.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.choices(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--Price-->
                                    <div class="form-group">
                                        {{ form.price.label(class="form-control-label") }}

                                        {% if form.price.errors %}
                                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.price.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.price(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--Finance-->
                                    <div class="form-group">
                                        {{ form.finance.label(class="form-control-label") }}

                                        {% if form.finance.errors %}
                                        {{ form.finance(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.finance.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.finance(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--side_costs-->
                                    <div class="form-group">
                                        {{ form.side_costs.label(class="form-control-label") }}

                                        {% if form.side_costs.errors %}
                                        {{ form.side_costs(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.side_costs.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.side_costs(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--rate-->
                                    <div class="form-group">
                                        {{ form.rate.label(class="form-control-label") }}

                                        {% if form.rate.errors %}
                                        {{ form.rate(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.rate.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.rate(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--period-->
                                    <div class="form-group">
                                        {{ form.period.label(class="form-control-label") }}

                                        {% if form.period.errors %}
                                        {{ form.period(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.period.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.period(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--rent_per_month-->
                                    <div class="form-group">
                                        {{ form.rent_per_month.label(class="form-control-label") }}

                                        {% if form.rent_per_month.errors %}
                                        {{ form.rent_per_month(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.rent_per_month.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.rent_per_month(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--insurance-->
                                    <div class="form-group">
                                        {{ form.insurance.label(class="form-control-label") }}

                                        {% if form.insurance.errors %}
                                        {{ form.insurance(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.insurance.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.insurance(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                    <!--m2-->
                                    <div class="form-group">
                                        {{ form.m2.label(class="form-control-label") }}

                                        {% if form.m2.errors %}
                                        {{ form.m2(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.m2.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.m2(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>

                                </fieldset>

                                <div class="form-group">
                                    {{ form.submit(class="btn") }}
                                </div>

                                <p><a href="{{ url_for('index') }}">Back to homepage</a></p>
                            </form>
                        </div>
                    </div>



                        <div class="col-xs-6 col-sm-2">
                         <!--Apartment X-->
                          {% if results %}

                         <legend class="border-bottom mb-4">Results</legend>
                            <div id="results">
                              <table class="table table-striped" style="max-width: 500px;"><!-- max size -->
                                <thead>
                                  <tr>
                                    <th>Kategooria</th>
                                    <th>Tulem</th>
                                    <th>Tüüp</th>
                                  </tr>
                                </thead>
                                {% for x in range((results| length)) %}
                                  <tr>
                                    <td>{{ results[x][0] }}</td>
                                    <td>{{ results[x][1] }}</td>
                                    <td>{{ results[x][2] }}</td>
                                  </tr>
                                #{% endfor %}
                              </table>
                            </div>
                         {% endif %}
                        </div>

                                          <div class="col-xs-6 col-sm-2.5">
                                             <!--Acquired Apartments on or another-->
                                              {% if acquired_estate %}

                                             <legend class="border-bottom mb-4">Acquired Estate Result</legend>
                                                <div id="acquired_estate">
                                                  <table class="table table-striped" style="max-width: 500px;"><!-- max size -->
                                                    <thead>
                                                      <tr>
                                                        <th>Kategooria</th>
                                                        <th>Tulem</th>
                                                        <th>Tüüp</th>
                                                      </tr>
                                                    </thead>
                                                    {% for x in range((acquired_estate| length)) %}
                                                      <tr>
                                                        <td>{{ acquired_estate[x][0] }}</td>
                                                        <td>{{ acquired_estate[x][1] }}</td>
                                                        <td>{{ acquired_estate[x][2] }}</td>
                                                      </tr>
                                                    #{% endfor %}
                                                  </table>
                                                </div>
                                             {% endif %}
                                          </div>

                                                  <div class="col-xs-6 col-sm-3">
                                                     <!--Both-->
                                                      {% if acquired_estate2 %}

                                                     <legend class="border-bottom mb-4">Acquired Estate Result</legend>
                                                        <div id="acquired_estate2">
                                                          <table class="table table-striped" style="max-width: 700px;"><!-- max size -->
                                                            <thead>
                                                              <tr>
                                                                <th>Kategooria</th>
                                                                <th>Tulem</th>
                                                                <th>Tüüp</th>
                                                              </tr>
                                                            </thead>
                                                            {% for x in range((acquired_estate2| length)) %}
                                                              <tr>
                                                                <td>{{ acquired_estate2[x][0] }}</td>
                                                                <td>{{ acquired_estate2[x][1] }}</td>
                                                                <td>{{ acquired_estate2[x][2] }}</td>
                                                              </tr>
                                                            #{% endfor %}
                                                          </table>
                                                        </div>
                                                     {% endif %}
                                                </div>



                                                <div class="col-xs-6 col-sm-2.5">
                                                     <!--Both-->
                                                      {% if acquired_estate3 %}

                                                     <legend class="border-bottom mb-4">Acquired Estate Result</legend>
                                                        <div id="acquired_estate3">
                                                          <table class="table table-striped" style="max-width: 500px;"><!-- max size -->
                                                            <thead>
                                                              <tr>
                                                                <th>Kategooria</th>
                                                                <th>Tulem</th>
                                                                <th>Tüüp</th>
                                                              </tr>
                                                            </thead>
                                                            {% for x in range((acquired_estate3| length)) %}
                                                              <tr>
                                                                <td>{{ acquired_estate3[x][0] }}</td>
                                                                <td>{{ acquired_estate3[x][1] }}</td>
                                                                <td>{{ acquired_estate3[x][2] }}</td>
                                                              </tr>
                                                            #{% endfor %}
                                                          </table>
                                                        </div>
                                                     {% endif %}
                                                </div>

            </div>
        </div>
    </body>
</html>